@font-face {
    font-family: "nunito";
    src: url("fonts/Nunito/Nunito-Light.ttf");
}

body {
    font-family: "nunito", sans-serif;
    background-color: rgb(248, 248, 248);
}

h1,h2,h3,h4,h5,h6 {
    color: #1B7779;
}

.btn.btn-yellow {
    background-color: #FCDA05;
    color: #000;
}

.btn.btn-yellow:hover {
    background-color: rgb(177, 153, 0);
    color: #eee;
}

.btn.btn-indigo {
    background-color: #1B7779;
    color: #eee;
}

.btn.btn-indigo:hover {
    background-color: #114647;
    color: #eee;
}

.bg-imaji,.card-header {
    background-color: #1B7779;
    color: #eee;
}

.input-underline {
    outline: 0;
    border-width: 0 0 2px;
    border-radius: 0;
    border-color: #00f;
}

.input-underline:focus {
    border-color: #1B7779;
}

.has-error .input-underline {
    border-color: #f00;
}

.help-block {
    font-size: 0.8em;
    color: #e23F17;
}

#map {
    width: 100%;
    height: 100%;
    min-height: 40em;
}